* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

header{
display: flex;
justify-content: space-around;
align-items: center;
background-color: gray;
padding-bottom: 30px;
}

.header-item1{
    padding-top: 10px;
}

.header-item2 a{
    font-size: 24px;
    padding: 20px 40px;
}

.nav_links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}


body {
    background-color: rgb(85, 77, 77);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1920px;
    margin: auto;
}

nav {
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.slideContainer {
    display: flex;
    align-content: center;
    margin: 10px auto;
    width: 75%;
    flex-flow: column wrap;
}

.slide {
    display: none;
    background-color: blueviolet;
    max-width: 50%;
}

.slide img {
    width: 100%;
}
.slideButtonTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.productText {
    font-size: 1.5rem;
    border: 1px solid brown;
    padding: 10px;
}

.productContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 1px solid pink;
    margin: 20px 0;
}

.productItem {
    display: flex;
    width: 150px;
    flex-flow: column wrap;
    margin: 10px;
    border: 1px solid goldenrod;
}

.productItem img {
    width: 100%;
}

.productItem h1 {
    text-align: center;
    width: 100%;
    font-weight: 100;
    padding: 5px;
    font-size: 1rem;
    overflow: hidden;
    white-space: pre;
}

.infoButton {
    align-self: flex-end;
    margin: 10px;
    padding: 5px;
    background-image: linear-gradient(to right, rgb(72, 212, 96), rgb(71, 156, 84));
    border: none;
    text-decoration: none;
    outline: none;
    color: snow;
}

/* popup-ruta
.popUp {
    background-color: rgb(255, 255, 255);
    width: 25%;
    height: 25%;
    visibility: hidden;
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    z-index: 1;
}

.infoButton:focus + .popUp {
    visibility: visible;
}*/

.omOss {
    display: flex;
    border: 1px solid bisque;
    margin: 10px 0;
    height: 400px;
}
.bildKarta {
    align-self: center;
    margin-right: 20px;
}
.mainOss {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    overflow: hidden;
}
.bildOss {
    width: auto;
    height: 50%;
    align-self: flex-end;
}
.omOssText {
    height: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.homeButton {
    font-size: 1.3rem;
    padding: 20px;
    background-color: greenyellow;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-end;
}

footer {
    width: 100%;
    background-color: grey;
    position: relative;
    bottom: 0;
    min-height: 1vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
}
.footerContainer--first {
    background-color: rgb(173, 168, 195);
}

.footerContainer--second {
    background-color: aqua;
    margin: 0 10px;
}

.footerContainer--third {
    background-color: pink;
}

.btn {
    background-color: rgba(242, 242, 243, 0);
    border-color: rgba(255, 255, 255, 0);
    outline: none;
    cursor: pointer;
}

.btn--twitter {
    margin-left: 10px;
}

/*mobile devices*/
@media (max-width: 767.98px) {
    * {
        
    }

    .productItem {
        width: 75px;
    }
    .productItem h1 {
        font-size: 1rem;
    }
    .productText {
        font-size: 1rem;
    }
    .infoButton {
        font-size: 0.75rem;
        padding: 3px;
        align-self: center;
    }
}