* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(85, 77, 77);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.slideContainer {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.productContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 1px solid pink;
}

.productItem {
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    margin: 10px;
}

.productItem h1 {
    text-align: center;
    width: 100%;
    font-weight: 100;
}

footer {
    width: 100%;
    background-color: grey;
    position: relative;
    bottom: 0;
    min-height: 1vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.validationContainer {
    background-color: rgb(173, 168, 195);
    display: flex;
    align-items: center;
    height: 60px;
    width: 33%;
    justify-content: flex-start;
}

.validationLink {
    padding: 5px;
}

.externalcontainer {
width: 33%;
height: 60px;
background-color: aqua;
justify-content: center;
align-items: center;
display: flex;

}
.externallink {
padding: 5px;

}

.conny {
    background-color: pink;
    width: 33%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;
}